// Import @font-face
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap);

// Breakpoints
$tablet: 40rem; // 640px
$desktop: 73rem; //1168px

// Default styling
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px;

	@media only screen and (min-width: $tablet) {
		font-size: 85%;
	}
}

body {
	font-family: "Manrope", sans-serif;
}

// Main
.container {
	width: 90%;
	margin: 0 auto;

	@media only screen and (min-width: $desktop) {
		width: 80%;
	}

}

// Navigation
.nav {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: $tablet) {
		flex-direction: row;
		justify-content: space-between;
	}


	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__toggle {
		display: flex;
		align-items: center;
		font-size: 3rem;
	}

	&__hamburger {

		@media only screen and (min-width: $tablet) {
			display: none;
		}
	}

	#toggle {
		display: none;

		&:checked + .nav__items {
			display: block;

		}
	}


	&__logo {
		height: 3rem;
	}

	&__hamburger {
		cursor: pointer
	}

	&__items {
		align-self: center;
		width: 115%;
		height: 50vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		display: none;
		z-index: 3;

		@media only screen and (min-width: $tablet) {
			display: flex;
			flex-direction: row;
			height: auto;
			width: 60%;
		}

		@media only screen and (min-width: $desktop) {
			width: 45%;
		}
	}

	&__item {
		list-style: none;
		margin: 4rem 0;
		font-size: 3rem;
		width: 100%;
		text-align: center;

		@media only screen and (min-width: $tablet) {
			font-size: 1.2rem;
			margin: 0;

		}


		a,
		a:link,
		a:visited {
			color: gray;
			text-decoration: none;
		}
	}

	&__cta {
		background-color: orange;
		padding: 1.5rem 0;
		width: 80%;
		border-radius: 1.5rem;
		cursor: pointer;
		margin: 0 auto;
		font-weight: 700;

		@media only screen and (min-width: $tablet) {
			border-radius: 5px;
			padding: .8rem 1rem;
		}

		a,
		a:link,
		a:visited {
			color: #000;
			width: 100%;

		}
	}
}

// Articles
.article {
	margin: 4rem 0;

	&__img {
		width: 100%;
		height: 22rem;
		object-fit: cover;

		@media only screen and (min-width: $tablet) {
			height: 30rem;
		}
	}

	&__title {
		font-size: 3rem;
		margin: 1.5rem 0;
	}

	&__summary {
		color: gray;
		font-weight: 400;
		line-height: 2;
		font-size: 1.5rem;
	}

	&__profile {
		display: flex;
		align-items: center;
		margin: 1rem 0;
		font-size: 1.2rem;

		&-img {
			width: 6rem;
			margin-right: 1rem;
		}
	}
}

// Footer
.footer {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;

	@media only screen and (min-width: $desktop) {
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}


	&__logo {
		display: block;
		margin-bottom: 1rem;


	}

	&__copyright {
		color: gray;
		font-weight: 400;
		font-size: 1.3rem;
	}
}
